# Ignore everything
*

# Allow only specific files
!rxconfig.py
!requirements.txt
!Caddyfile
!entrypoint.sh
!config/*
!plantillas
!unposer/utils/__init__.py
!unposer/utils/converter.py
!unposer/views/__init__.py
!unposer/views/footer.py
!unposer/views/header.py
!unposer/views/compose.py
!unposer/views/options.py
!unposer/views/template.py
!unposer/state/__init__.py
!unposer/state/MainState.py
!unposer/__init__.py
!unposer/unposer.py
!assets/*